
.header {
    height: 75px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    background-color: rgb(14, 63, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
}

.items {
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}